        body {
            font-family: 'Be Vietnam Pro', sans-serif;
            margin: 0;
        }
        
        body p {
            font-weight: 500;
            text-align: justify;
        }
        
        body h1 {
            font-weight: 700;
            font-size: 31px;
        }
        
        .name {
            color: rgb(76, 32, 146);
        }
        
        .half-width {
            width: 50%;
            padding: 100px;
        }
        
        .flexible-container {
            display: flex;
            margin-top: 0;
        }
        
        .img {
            background-image: url(../images/upper-bg.jpg);
            background-repeat: no-repeat;
            width: 100%;
            height: 50%;
            margin-top: 0;
        }
        
        #upper-2 {
            padding-left: 150px;
            /* background-color: aqua; */
            /* position: absolute; */
            /* width: 100%;
    height: 100%" */
        }
        
        .btn {
            /* background-color: aquamarine; */
            background-image: linear-gradient(rgba(9, 188, 194, 0.507), rgb(44, 12, 119));
            padding: 10px 20px;
            border-radius: 10px;
            text-decoration: none;
            color: white;
            font-weight: 700;
            /* margin-top: 20px; */
        }
        
        .half-width img {
            width: 70%;
        }
        
        .middle {
            background-color: aliceblue;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        
        .middle-last-h1 {
            /* margin-left: 50px; */
            color: rgba(34, 50, 197, 0.678);
        }
        
        .last {
            /* background-color: rgba(66, 182, 147, 0.377); */
            margin-top: 0px;
            padding-top: 0px;
        }
        
        .last h1 {
            margin-left: 50px
        }
        
        .last-item {
            /* display: flex; */
            width: 50%;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 25px;
            background-color: rgba(4, 196, 196, 0.199);
            border-radius: 20px;
            box-shadow: 10px 10px 40px rgb(42, 82, 192);
        }
        
        footer p {
            text-align: center;
            /* background-color: azure; */
        }